<ion-header>
<ion-toolbar>
    <ion-title>
        RegistrAPP
    </ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
    <img src="assets/img/Duoc.png" />
    <ion-card-header>
        <ion-card-subtitle>Te saludaRegistrAPP</ion-card-subtitle>
        <div id="container">
            <strong>Pulsa el boton para Generar tu codigo QR</strong>
        </div>
        <br>
        
        <ion-button expand="full" (click)="alerta()">
            Generar
            <ion-icon name="checkmark"></ion-icon>
        </ion-button>
            <ion-button (click)="volver()"> Cerrar Sesion</ion-button>

    </ion-card-header>


